{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
{% if messages %}
  {% for category, message in messages %}
    <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

<div class="d-flex justify-content-center">
  <h1>Welcome to your Dashboard, {{ username }}!</h1>
</div><br>

<h2>User Details: </h2><br>

<ul class="list-group">
  Username: <li class="list-group-item"> {{ username }}</li><br>
  Company: <li class="list-group-item"> {{ company }} </li><br>
  Email: <li class="list-group-item"> {{ email }} </li><br>
  Phone No: <li class="list-group-item"> {{ phone_no }} </li><br>
</ul>

<p>What to start a new project? <a href="{{ url_for('name_upload.project_details') }}">Click here</a> to start one.</p>

{% endblock %}